<h1>new article</h1>
<%= form_for :article, url: articles_path, multipart:true do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %><br>
  <%= f.text_field :text %>
</p>
<p>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
</p>
<p>
  <%= f.submit %>
</p>


<% end %>

<%= link_to 'back', articles_path %>
